.formulario-nuevo-mensaje-contenedor {
  padding: 0.5rem;
  border-top: 1px solid #ccc;
  background-color: #f0f0f0;

  position: sticky;
  bottom: 0;
  z-index: 10;
}

.formulario-nuevo-mensaje {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.input-mensaje {
  flex: 1;
  padding: 0.6rem 1rem;
  font-size: 1rem;
  border: none;
  border-radius: 20px;
  background-color: white;
  outline: none;
}

.boton-enviar {
  width: 42px;
  height: 42px;
  background-color: #00a884;
  border-radius: 50%;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.boton-enviar:hover {
  background-color: #029073;
}

.boton-enviar svg {
  fill: white;
}
