.contacto-enlace {
  text-decoration: none;
  color: inherit;
}

.contacto-item {
  display: flex;
  align-items: center;
  padding: 0.75rem;
  border-bottom: none;
  transition: background-color 0.2s ease;
  margin: 4px 8px;
  border-radius: 12px;
}

.contacto-item:hover {
  background-color: #2a3942;
}

.contacto-left {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  flex: 1;
  min-width: 0;
}

.contacto-avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
}

.contacto-info {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 0;
}

/* FILA 1 */
.contacto-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
}

.contacto-nombre {
  font-size: 1.1rem;
  font-weight: bold;
  margin: 0;
}

.contacto-hora {
  font-size: 0.8rem;
  color: #667781;
  white-space: nowrap;
}

/* FILA 2 */
.contacto-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
}

.contacto-mensaje {
  font-size: 0.9rem;
  color: #667781;
  margin-top: 2px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.contacto-unread {
  background-color: #25d366;
  color: white;
  border-radius: 999px;

  min-width: 20px;
  height: 20px;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 12px;
  font-weight: bold;
  padding: 0 6px;
}