.mensaje {
  display: flex;
  width: 100%; /* ocupa todo el ancho del contenedor */
  margin-bottom: 0.3rem;
}

/* POSICIONAMIENTO (clave) */
.mensaje-yo {
  justify-content: flex-end;
}

.mensaje-contacto {
  justify-content: flex-start;
}

/* BURBUJA */
.contenido-mensaje {
  max-width: 70%;
  padding: 0.5rem 0.8rem;
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
}

/* ESTILO VISUAL SEGÚN EMISOR */
.mensaje-yo .contenido-mensaje {
  background-color: #dcf8c6;
  border-radius: 8px 0px 8px 8px;
}

.mensaje-contacto .contenido-mensaje {
  background-color: white;
  border-radius: 0px 8px 8px 8px;
}

/* TEXTO */
.texto-mensaje {
  margin-bottom: 0.3rem;
}

.info-mensaje {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.75rem;
  color: #555;
}

.hora-mensaje {
  margin-right: 0.5rem;
}

.boton-eliminar {
  background: none;
  border: none;
  cursor: pointer;
  color: #888;
  font-size: 0.9rem;
}